.nav {
	background: #000;
	text-align: center;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 100;
}

.nav ul {
	margin: 0;
	padding: 0;
}

.nav li {
	display: inline-block;
}

.nav li a {
	text-decoration: none;
	color: white;
	display: inline-block;
	font-size: 14px;
	font-weight: bold;
	padding: 15px 10px;
	text-transform: uppercase;
}

.nav li a:hover {
	background: #888;
}

#SkypeButton_Call_elle_elle-555_1 {
	margin: 0;
}

.jumbotron {
	background-color: #FAEBD7;
	height: 500px;
	background-repeat: no-repeat;
	background-size: cover;
}

#todaySchedule {
	margin-top: -250;
}

.schedule {
	color: white;
	border-radius: 25px;
    background: #73AD21;
    padding: 20px; 
    width: 800px;
    height: 50px; 
}

#meal {
	font-weight: bold;
	font-size: 20;
	margin-left: 30;
	margin-right: 20;

}

#profilepic {
	display: inline-block;
	width: 150;
	margin-top: 100;
}


.LearnMore p {
	color: #668cad;
}

.LearnMore li a {
	display: block;
	margin-left: 0px;
	margin-bottom: 6px;
	padding-left: 0px;
	padding-bottom: 10px;
	border-bottom: 1px solid #d5d5e0;
	color: #668cad;
	font-size: 14px;
	font-weight: 300;
	text-decoration: none;
	text-align: left;
}

.LearnMore li a:hover {
	color: rgba(0, 140, 255, 0.84);
}

.info-icon {
	float: left;
}

.footer-link.with-icon {
	margin-left: 30px;
}

.ad1 p h4{
	/*float: left;*/
	margin-left: 300;
}

#adPic1 {
	width: 200px;
	/*float: left;*/
	margin-left: 50;
}

.ad2 {
	/*float: right;*/
	
}

#adPic2 {
	width: 200px;
	/*float: right;*/
}

#navbar
{
	display:table-cell;
	margin: 30px;
	margin-right: 50px;
	padding: 10px;
	list-style-type: none;
	border-right: 1px solid #ccc;
	width: 250px;
	text-align:right;
}
#navbar li
{
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
}
#navbar li a {
	text-decoration: none;
	padding: 10px;
	color: #000000;
	display:block;
}
#navbar li a.active, #navbar li a:hover{
	background-color: #FAEBD7;
	color: #000000;
}
#main {
	display: table-cell;
	padding-left: 20px;
	padding-bottom:50px;
}

.feeding {
	margin-top:-50;
    width:500px;
}
.feeding p {
	margin:0;
}
.feeding p {
	font-size:18px;
}
.scheduled {
	width:600px;
}
.scheduled p {
	font-size:18px;
}
#main-history {
	display:none;
}
#main-schedulenew {
	display:none;
}